[advice]
    detachedHead = false
    addIgnoredFile = false

[user]
    signingkey = 0x210132EA44C4F4E6
	email = {{ .email }}
    name = {{ .name }}
[commit]
    gpgsign = true
[pull]
    rebase = false
[submodule]
    recurse = true
[core]
	editor = nvim

[alias]
	graph = log --all --decorate --oneline --graph

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    true-color = always
    hyperlinks = true
    navigation = true
    # feature = Dracula
    syntax-theme = Dracula

[delta "Dracula"]
    commit-style                  = raw
    file-style                    = blue
    hunk-header-style             = syntax
    minus-style                   = red reverse normal
    minus-non-emph-style          = red reverse normal
    minus-emph-style              = red bold reverse normal
    minus-empty-line-marker-style = red reverse normal
    zero-style                    = syntax
    plus-style                    = green reverse syntax
    plus-non-emph-style           = green reverse syntax
    plus-emph-style               = green reverse syntax
    plus-empty-line-marker-style  = green reverse syntax
    grep-file-style               = blue
    grep-line-number-style        = blue
    whitespace-error-style        = reverse purple
    blame-palette                 = #000000 #222222 #444444
    true-color                    = true
    file-added-label              = 'added:'
    file-modified-label           = ''
    file-removed-label            = 'removed:'
    file-renamed-label            = 'renamed:'
    right-arrow                   = '⟶  '
    hyperlinks                    = true
    hyperlinks-file-link-format   = 'file://{path}'
    inspect-raw-lines             = true
    line-numbers                  = true
    line-numbers-minus-style      = red
    line-numbers-zero-style       = "#444444"
    line-numbers-plus-style       = green
    line-numbers-left-style       = blue
    line-numbers-right-style      = blue

[merge]
    conflictstyle = diff3
[init]
    defaultBranch = master
[include]
	path = dracula.gittheme

[diff]
    colorMoved = default

