set -g mouse on

# tmux display things in 256 colors
set -g default-terminal "xterm-256color"
# enable terminal compability
set-option -ga terminal-overrides ",xterm-256color:Tc"

set -g base-index 1
set -g pane-base-index 1

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-sessionist'
set -g @plugin 'tmux-plugins/tmux-sensible'

set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @resurrect-dir "$XDG_DATA_HOME/tmux-resurrect"
set -g @continuum-save-interval '10'
set -g @continuum-restore 'on'

# set -g @plugin 'ofirgall/tmux-window-name'

########## Dracula theme ##########
set -g @plugin 'dracula/tmux'

# available plugins: battery, cpu-usage, git, gpu-usage, ram-usage, network, network-bandwidth, network-ping, weather, time
set -g @dracula-plugins "cpu-usage ram-usage weather time"

# available colors: white, gray, dark_gray, light_purple, dark_purple, cyan, green, orange, red, pink, yellow
# set -g @dracula-[plugin-name]-colors "[background] [foreground]"
# set -g @dracula-cpu-usage-colors "pink dark_gray"


### Status bar
set -g @dracula-show-powerline true

# for left
# set -g @dracula-show-left-sep 

# for right symbol (can set any symbol you like as seperator)
# set -g @dracula-show-right-sep 

# set -g @dracula-show-flags false

# the default is 5, it can accept any number
set -g @dracula-refresh-rate 1

# it can accept `session`, `smiley`, `window`, or any character.
set -g @dracula-show-left-icon session

# default is 1, it can accept any number and 0 disables padding.
# set -g @dracula-left-icon-padding 1

set -g @dracula-border-contrast true


### CPU
set -g @dracula-cpu-usage-label ""
set -g @dracula-cpu-display-load false


### GPU
# set -g @dracula-gpu-usage-label "GPU"


### RAM
set -g @dracula-ram-usage-label "🐏"


### Network ping options
# set -g @dracula-ping-server "google.com"
# set -g @dracula-ping-rate 1

### Time
set -g @dracula-show-timezone true
set -g @dracula-day-month true
set -g @dracula-military-time true


### Git
# set -g @dracula-git-disable-status true

# default is ✓. Avoid using non unicode characters that bash uses like $, * and ! 
# set -g @dracula-git-show-current-symbol ✓

# default is unicode !. Avoid bash special characters 
# set -g @dracula-git-show-diff-symbol !

# default is unicode no message
# set -g @dracula-git-no-repo-message ""


### Weather
set -g @dracula-fixed-location "{{ .wttr_loc }}"
set -g @dracula-show-location false
set -g @dracula-show-fahrenheit true
########## End Dracula theme ##########


# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'github_username/plugin_name#branch'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
if "test ! -d $XDG_CONFIG_HOME/tmux/plugins/tpm" \
   "run \"git clone https://github.com/tmux-plugins/tpm $XDG_CONFIG_HOME/tmux/plugins/tpm && $XDG_CONFIG_HOME/tmux/plugins/tpm/bin/install_plugins\""

run "$XDG_CONFIG_HOME/tmux/plugins/tpm/tpm"

# vim: set syntax=tmux.conf :
